html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;

}

canvas {
  display: block;
  border: 5px solid maroon;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  
}
